<!-- newsletter start -->
<section
  class="cta-one"
  style="
    background-image: url(././assets/images/homepage-images/newsletter.jpg);
  "
>
  <div class="auto-container">
    <!-- Title Box -->
    <div class="cta-one_title-box">
      <h1 class="cta-one_heading">start your adventure</h1>
      <div class="cta-one_text">
        Sign up for our newsletter and receive exclusive travel deals, insider
        tips, and destination <br />
        inspiration. Don't miss out on the adventure - join our mailing list
        today!
      </div>

      <!-- Subscribe Box -->
      <div class="subscribe-box">
        <form method="post" action="contact.html">
          <div class="form-group">
            <input
              type="email"
              name="email"
              value=""
              placeholder="Enter your email address here ..."
              required=""
            />
            <button class="submit-btn theme-btn">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- newsletter end -->
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5">
  <div class="row pt-5">
    <div class="col-lg-3 col-md-6 mb-5">
      <a (click)="scrollToTop()" class="navbar-brand">
        <h1 class="text-primary"><span class="text-white">FLY</span>EASY</h1>
      </a>
      <p style="color: white">
        Discover Kashmir's beauty with our budget-friendly packages - the best
        in the valley! Contact us now for an unforgettable experience tailored
        just for you.
      </p>
      <h6
        class="text-white text-uppercase mt-4 mb-3"
        style="letter-spacing: 5px"
      >
        Follow Us
      </h6>
      <div class="d-flex justify-content-start">
        <a class="btn btn-outline-primary btn-square mr-2"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-outline-primary btn-square mr-2"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-primary btn-square mr-2"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-primary btn-square"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px">
        Office Hours :
      </h5>

      <ul>
        <li style="color: #038cfc">
          <span style="font-weight: bolder; color: white"
            >MONDAY - Friday :
          </span>
          06:00 AM - 10:00 PM
        </li>
        <li style="color: #038cfc">
          <span style="font-weight: bolder; color: white">SATURDAY : </span>
          09:00 AM - 08:00 PM
        </li>
        <li style="color: #038cfc">
          <span style="font-weight: bolder; color: white">SUNDAY : </span>Off
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px">
        Usefull Links
      </h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white-50 mb-2" routerLink="" (click)="scrollToTop()"
          ><i class="fa fa-angle-right mr-2"></i>Home</a
        >
        <a
          class="text-white-50 mb-2"
          routerLink="/destination"
          (click)="scrollToTop()"
          ><i class="fa fa-angle-right mr-2"></i>Destination</a
        >
        <a
          class="text-white-50 mb-2"
          routerLink="/packages"
          (click)="scrollToTop()"
          ><i class="fa fa-angle-right mr-2"></i>Packages</a
        >
        <a
          class="text-white-50 mb-2"
          routerLink="/about"
          (click)="scrollToTop()"
          ><i class="fa fa-angle-right mr-2"></i>About Us</a
        >
        <a
          class="text-white-50 mb-2"
          routerLink="/contact"
          (click)="scrollToTop()"
          ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
        >
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h5
        class="text-white text-uppercase mb-4"
        style="letter-spacing: 5px"
        style="color: white"
      >
        Contact Us
      </h5>
      <p style="color: white">
        <i class="fa fa-map-marker-alt mr-2"></i>Srinagar, Jammu and Kashmir
      </p>
      <p style="color: white">
        <i class="fa fa-phone-alt mr-2"></i>0194 2467890
      </p>
      <p style="color: white">
        <i class="fa fa-envelope mr-2"></i>flyeasy&#64;gmail.com
      </p>
      <h6
        class="text-white text-uppercase mt-4 mb-3"
        style="letter-spacing: 5px"
      >
        Newsletter
      </h6>
      <div class="w-100">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-light"
            style="padding: 15px"
            placeholder="Your Email"
          />
          <div class="input-group-append">
            <button class="btn btn-primary px-3">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
  style="border-color: rgba(256, 256, 256, 0.1) !important"
>
  <div class="row">
    <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white-50">
        Copyright &copy; <span style="color: #038cfc">Fly Easy</span>. All
        Rights Reserved.
      </p>
    </div>
    <div class="col-lg-6 text-center text-md-right">
      <p class="m-0 text-white-50">
        Designed by <a style="color: white">Danish Yousuf</a>
      </p>
    </div>
  </div>
</div>
<!-- Footer End -->
<!-- scroll to top -->
<div class="scroll-to-top show" (click)="scrollToTop()">
  <span class="fas fa-arrow-up fa-fw"></span>
</div>
