<!-- page banner -->
<section
  class="page-banner"
  style="background-image: url(././assets/images/contact.jpg)"
>
  <div class="auto-container">
    <ul class="page-breadbrumbs">
      <li><a href="#">Home</a></li>
      <li>Contact</li>
    </ul>
    <h1 class="page-banner_title">Contact</h1>
  </div>
</section>
<!-- page banner -->
<!-- contact us -->
<section class="booking-one">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Contact Column -->
      <div class="contact-column col-lg-8 col-md-7 col-sm-12">
        <div class="title-box">
          <h4>Send Us Mail</h4>
          <p>
            Your email address will not be published. Required fields are marked
            *
          </p>
        </div>

        <!-- Contact Form -->
        <div class="booking-form">
          <form method="post" action="contact.html">
            <div class="row">
              <div class="col-lg-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label class="form-label">First Name</label>
                  <input
                    type="text"
                    name="f-name"
                    placeholder="First Name"
                    required=""
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label class="form-label">Last Name</label>
                  <input type="text" name="l-name" placeholder="Last Name" />
                </div>
              </div>

              <div class="col-lg-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label class="form-label">Email Address</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required=""
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label class="form-label">Phone Number</label>
                  <input
                    type="number"
                    name="phone"
                    placeholder="Phone Number"
                  />
                </div>
              </div>

              <div class="col-lg-12">
                <!-- Form Group -->
                <div class="form-group">
                  <label class="form-label">Enter Text</label>
                  <textarea name="text" placeholder="Enter Text"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <button type="submit" class="btn-style-two theme-btn">
                  <span class="btn-wrap">
                    <span class="text-one">Send Message</span>
                    <span class="text-two">Send Message</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Map Column -->
      <div class="map-column col-lg-4 col-md-5 col-sm-12">
        <!-- Map Four -->
        <div class="map-four">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1833843.202274699!2d74.3024298151677!3d34.197394464226984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1c4538e517e75%3A0x6e9efb580968d6b!2sSrinagar%2C%20Jammu%20and%20Kashmir!5e0!3m2!1sen!2sin!4v1649299229322!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <!-- End Map Two -->
      </div>
    </div>
  </div>
</section>
<!-- contact us -->
