<!-- page banner start -->
<section
  class="page-banner"
  style="background-image: url(././assets/images/Destinations/banner.jpg)"
>
  <div class="auto-container">
    <ul class="page-breadbrumbs">
      <li><a href="#">Home</a></li>
      <li>Destinations</li>
    </ul>
    <h1 class="page-banner_title">DESTINATIONS</h1>
  </div>
</section>
<!-- page banner end -->

<!-- Destinations -->
<section class="mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Title Box -->
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
          DESTINATIONS
        </h6>
        <h1>Popular Destinations</h1>
      </div>
    </div>

    <!-- Isotope Gallery -->
    <div class="row mt-4">
      <!-- destination one -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/homepage-images/seasonalgulmarg.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Winter Gulmarg
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Gulmarg in winter is blanketed in snow, making it the perfect
                  time to visit and indulge in skiing adventures.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- destination two -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/pahalgam.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Pahalgam
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Pahalgam, Kashmir, nestled in the serene Kashmir Valley,
                  offers breathtaking vistas and adventurous escapades amidst
                  its lush greenery and snow-capped peaks.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination three -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/aharbal.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Aharbal
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Aharbal, Kashmir, a hidden gem in the majestic Kashmir Valley,
                  captivates with its pristine landscapes and cascading
                  waterfalls, promising a tranquil escape into nature's embrace.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination four -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/sonmarg.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Sonmarg
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Sonmarg, Kashmir, a jewel in the crown of the Himalayas,
                  enchants with its snow-capped peaks and meandering rivers,
                  offering a glimpse of paradise amidst nature's grandeur.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination five -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/dal_lake.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Dal Lake
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Dal Lake, Srinagar, is a mesmerizing jewel of Kashmir, where
                  serene waters mirror the majestic mountains, offering an
                  enchanting retreat amidst floating gardens and historic
                  houseboats.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination six -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/dodhpathri.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Dodhpathri
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Dodhpathri, a serene paradise nestled in the heart of Kashmir,
                  boasts lush meadows and pristine landscapes, inviting
                  travelers to unwind amidst nature's tranquility and
                  breathtaking beauty.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination seven -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/nishat.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Nishat
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Nishat Bagh, a marvel of Mughal architecture in Srinagar,
                  Kashmir, captivates with its terraced gardens and panoramic
                  views of the Dal Lake, offering a serene escape into timeless
                  beauty.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination eight -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/parimahal.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Pari Mahal
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Pari Mahal, nestled atop the Zabarwan Range in Srinagar,
                  Kashmir, is a historic marvel adorned with terraced gardens
                  and stunning views of the city below, offering a serene haven
                  for reflection and relaxation.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination nine -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/shalimar.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Shalimar
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Shalimar Bagh, a masterpiece of Mughal architecture nestled in
                  Srinagar, Kashmir, enchants with its cascading terraces,
                  tranquil water channels, and vibrant flower beds, inviting
                  visitors to bask in its timeless beauty and serenity.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination ten -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/tulip.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Tulip Garden
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  The Tulip Garden in Srinagar, Kashmir, stands as Asia's
                  largest, captivating visitors with its vibrant hues and
                  fragrant blooms, offering a fleeting yet unforgettable glimpse
                  of nature's artistry.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination eleven-->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/verinag.avif"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Verinag
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Verinag, nestled in the heart of Kashmir, is home to the
                  enchanting Verinag Spring, a natural wonder revered for its
                  crystal-clear waters and serene surroundings, offering a
                  tranquil escape amidst nature's pristine beauty.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination twelve -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/amarnath.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Amarnath
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Amarnath, nestled in the sacred Himalayas of Kashmir, is
                  revered as the abode of Lord Shiva, drawing pilgrims from far
                  and wide to embark on a spiritual journey amidst majestic
                  snow-capped peaks and serene valleys.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination thirteen -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/Baisaran.webp"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Baisaran Pahalgam
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Baisaran, nestled in the picturesque Pahalgam region of
                  Kashmir, is a hidden gem renowned for its lush meadows and
                  breathtaking views of the surrounding Himalayan peaks,
                  offering a tranquil retreat amidst nature's pristine beauty.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination forteen-->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/chashmeshahi.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Chashmeshahi
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Chashme Shahi, nestled in the serene hills of Kashmir, is a
                  testament to Mughal grandeur, featuring terraced gardens,
                  cascading fountains, and panoramic views of the Dal Lake,
                  offering a tranquil oasis of beauty and relaxation.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination fifteen -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/dachigam.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Dachigam National Park
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Dachigam National Park, nestled in the pristine mountains of
                  Kashmir, is a sanctuary for rare wildlife species, including
                  the majestic Kashmir stag, offering nature enthusiasts an
                  unparalleled opportunity to witness the region's rich
                  biodiversity amidst breathtaking natural landscapes.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination sixteen -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/houseboat.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Houseboat Dal Lake
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  These floating abodes, adorned with intricate woodwork and
                  luxurious amenities, provide a serene retreat amidst
                  picturesque surroundings, promising moments of tranquility and
                  enchantment on the water.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination seventeen -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/manasbal.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Manasbal Lake
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Surrounded by lush greenery and snow-capped peaks, this
                  pristine lake offers visitors a peaceful retreat amidst
                  nature's splendor, with opportunities for boating and
                  birdwatching, making it a haven for relaxation and
                  rejuvenation.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination eighteen -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/naranag.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Naranag
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Naranag offers visitors a serene retreat amidst the
                  breathtaking landscapes of the region, along with a glimpse
                  into the rich cultural heritage of Kashmir.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination twenty -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/wullar.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Wullar Lake
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: white">
                  Wular Lake provides a tranquil escape amidst nature's pristine
                  beauty, perfect for boating, birdwatching, and leisurely
                  strolls along its scenic shores.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination twenty one -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/shankarcharya.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Shankarcharya Temple
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Shankaracharya Temple, perched atop Shankaracharya Hill in
                  Srinagar, Kashmir, is a revered Hindu shrine dedicated to Lord
                  Shiva.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- destination twenty two -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="gallery-block_two">
          <div class="gallery-block_two-inner" style="position: relative">
            <img
              src="././assets/images/Destinations/harwan.jpg"
              class="img-fluid"
              alt=""
              style="height: 350px; width: 400px; border-radius: 10px"
            />
            <div
              style="position: absolute; bottom: 10px; left: 10px; color: white"
            >
              <h3
                style="
                  background-color: rgba(0, 0, 0, 0);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                Harwan
              </h3>
            </div>
            <div class="overlay-box_two">
              <div class="overlay-box_two-inner">
                <h5 style="color: White">
                  Harwan, situated on the outskirts of Srinagar in Kashmir, is
                  renowned for its scenic beauty and historical significance.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--   *****************     -->
    </div>
  </div>
</section>
<!-- /Destinations -->
