<!-- page banner -->
<section
  class="page-banner"
  style="background-image: url(././assets/images/about.jpg)"
>
  <div class="auto-container">
    <ul class="page-breadbrumbs">
      <li><a routerLink="">Home</a></li>
      <li>about us</li>
    </ul>
    <h1 class="page-banner_title">ABOUT US</h1>
  </div>
</section>
<!-- page banner -->
<!-- paragraph -->
<section>
  <div class="auto-container">
    <!-- <div class="about-two_icon flaticon-black-airplane"></div> -->
    <div class="about-two_text" style="color: black">
      <span style="font-weight: bolder">Fly Easy Tour And Travels </span>is the
      perfect travel agency for your every memorable trips. With our expert
      guides, we are both professional and personal. Our trips are consisted of
      unforgettable experiences and is delivered in a sustainable way to protect
      the environment.
    </div>
  </div>
</section>
<!-- paragraph -->
<!-- team -->
<section>
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <h2 class="sec-title_heading">MEET OUR TEAM</h2>
    </div>
    <div
      class="masonry-items-container_two row clearfix"
      style="position: relative"
    >
      <!-- Team Block One -->
      <div class="team-block_one masonry-item col-lg-4 col-md-4 col-sm-12">
        <div class="team-block_one-inner">
          <div class="team-block_one-image">
            <img src="././assets/images/About/men2.avif" alt="" />
            <div class="team-block_one-content">
              <h4 class="team-block_one-heading">
                <a style="color: white">CEO</a>
              </h4>
              <div class="team-block_one-name">Paul Johnson</div>
              <div class="team-block_one-text">
                “I believe in giving only the best quality travel service for
                our clients.”
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Block two -->
      <div class="team-block_one masonry-item col-lg-4 col-md-4 col-sm-12">
        <div class="team-block_one-inner">
          <div class="team-block_one-image">
            <img src="././assets/images/About/men1.avif" alt="" />
            <div class="team-block_one-content">
              <h4 class="team-block_one-heading">
                <a style="color: white">MANAGER</a>
              </h4>
              <div class="team-block_one-name">Rowena Chen</div>
              <div class="team-block_one-text">
                “I believe in giving only the best quality travel service for
                our clients.”
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Block three -->
      <div class="team-block_one masonry-item col-lg-4 col-md-4 col-sm-12">
        <div class="team-block_one-inner">
          <div class="team-block_one-image">
            <img src="././assets/images/About/women.avif" alt="" />
            <div class="team-block_one-content">
              <h4 class="team-block_one-heading">
                <a style="color: white">FINANCE</a>
              </h4>
              <div class="team-block_one-name">David Ronald</div>
              <div class="team-block_one-text">
                “I believe in giving only the best quality travel service for
                our clients.”
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team -->
<!-- contact -->
<section class="contact-one">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title">
      <h2 class="sec-title_heading">CONTACT INFORMATION</h2>
    </div>
    <div class="row clearfix">
      <!-- Column -->
      <div class="column col-lg-6 col-md-6 col-sm-12">
        <div class="title">phone</div>
        <a href="tel:+1-555-555-555">0194-2461234</a>
      </div>
      <!-- Column -->
      <div class="column col-lg-6 col-md-6 col-sm-12">
        <div class="title">email</div>
        <a href="mailto:flyeasytourandtravel@gmail.com"
          >flyeasytourandtravel&#64;gmail.com</a
        >
      </div>
      <!-- Column -->
      <div class="column col-lg-6 col-md-6 col-sm-12">
        <div class="title">address</div>
        <div class="text">Srinagar , Jammu and kashmir , India</div>
      </div>
      <!-- Column -->
      <div class="column col-lg-6 col-md-6 col-sm-12">
        <!-- Button Box -->
        <div class="button-box text-right">
          <a class="btn-style-two theme-btn" href="contact.html">
            <div class="btn-wrap">
              <span class="text-one">CONTACT US</span>
              <span class="text-two">CONTACT US</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Map One -->
    <div class="map-one">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1833843.202274699!2d74.3024298151677!3d34.197394464226984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1c4538e517e75%3A0x6e9efb580968d6b!2sSrinagar%2C%20Jammu%20and%20Kashmir!5e0!3m2!1sen!2sin!4v1649299229322!5m2!1sen!2sin"
        allowfullscreen=""
      ></iframe>
    </div>
    <!-- End Map One -->
  </div>
</section>
<!-- contact -->
