<!-- banner -->
<section
  class="page-banner"
  style="background-image: url(././assets/images/contact.jpg)"
>
  <div class="auto-container">
    <ul class="page-breadbrumbs">
      <li><a href="#">Home</a></li>
      <li>Packages</li>
    </ul>
    <h1 class="page-banner_title">KASHMIR</h1>
    <div class="banner-rating">
      <i class="fas fa-map-marker-alt fa-fw"></i>
      KASHMIR THE PARADISE ON EARTH   |  
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</section>
<!-- banner -->
<!-- contact images -->
<section class="hotel-detail_gallery">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="image">
          <a class="lightbox-image"
            ><img src="././assets/images/contact.jpg" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="image">
          <a class="lightbox-image"
            ><img src="././assets/images/contact.jpg" alt=""
          /></a>
        </div>
        <div class="image">
          <a class="lightbox-image"
            ><img src="././assets/images/contact.jpg" alt=""
          /></a>
        </div>
        <div class="image">
          <a class="lightbox-image"
            ><img src="././assets/images/contact.jpg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact images -->
<!-- contact detail -->
<section class="hotel-detail">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Left Column -->
      <div class="left-column col-lg-8 col-md-12 col-sm-12">
        <h2>OVERVIEW</h2>
        <p>
          Situated amidst the enchanting landscapes of Kashmir, our
          accommodations offer effortless access to some of the region's most
          renowned attractions. Just moments away from breathtaking natural
          wonders and cultural landmarks, guests can explore iconic sites such
          as the Dal Lake, Gulmarg's snow-capped peaks, the Mughal Gardens, and
          the historic Shankaracharya Temple. Immerse yourself in the beauty and
          charm of Kashmir, with its tranquil lakes, verdant valleys, and
          majestic mountains, all within easy reach from our location.
        </p>
        <h3>FACILITIES</h3>
        <div class="clearfix">
          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-1.png" alt=""
            /></span>
            Quality <br />
            Restaurant
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-2.png" alt=""
            /></span>

            High-Speed <br />
            Internet
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-3.png" alt=""
            /></span>
            Spa &amp; <br />
            Wellness
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-4.png" alt=""
            /></span>
            Swimming <br />
            Pool &amp; Sauna
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-5.png" alt=""
            /></span>
            24/7 <br />
            Front-Desk
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-6.png" alt=""
            /></span>
            Valet <br />
            Parking
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-7.png" alt=""
            /></span>
            Laundry &amp; <br />
            Dry Cleaning
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-8.png" alt=""
            /></span>
            Room <br />
            Service
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-9.png" alt=""
            /></span>
            Business Center <br />
            &amp; Meeting Room
          </div>

          <!-- Hotel Feature List -->
          <div class="hotel-feature_list">
            <span class="icon"
              ><img src="././assets/images/icons/hotel-icon-10.png" alt=""
            /></span>
            Luggage <br />
            Storage
          </div>
        </div>
        <h3>LOCATION</h3>
        <!-- Map Three -->
        <div class="map-three">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1833843.202274699!2d74.3024298151677!3d34.197394464226984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1c4538e517e75%3A0x6e9efb580968d6b!2sSrinagar%2C%20Jammu%20and%20Kashmir!5e0!3m2!1sen!2sin!4v1649299229322!5m2!1sen!2sin"
            allowfullscreen=""
          ></iframe>
        </div>
        <!-- End Map Three -->

        <h3>REVIEWS</h3>
        <!-- Room Review Box -->
        <div class="room-review_box">
          <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
              <div class="total-rating">
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="total-rate">4.5</div>
                <div class="total-counter-rating">( 1,500 )</div>
              </div>
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-6">
              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Cleanliness</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fas fa-star-half-alt fa-fw"></span>
                </div>
              </div>

              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Facility</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>

              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Location</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="far fa-star fa-fw"></span>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-6">
              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Service</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fas fa-star-half-alt fa-fw"></span>
                </div>
              </div>

              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Meal</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>

              <!-- Rating Category -->
              <div class="rating-category">
                <h5>Comfort</h5>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="far fa-star fa-fw"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Comment -->
        <div class="hotel-detail_review">
          <div class="review-inner">
            <h4>A Luxurious and Memorable Stay</h4>
            <div class="text">
              "We had a wonderful stay in Kashmir arranged by Flay Easy Tour and
              Travels. The team was exceptionally friendly and attentive,
              ensuring every aspect of our trip was seamless. Our accommodations
              were spacious, impeccably clean, and provided the utmost comfort
              throughout our stay. Kashmir's picturesque location, with its
              abundance of natural wonders and cultural treasures, made our
              experience truly unforgettable. We indulged in local cuisine at
              charming restaurants and rejuvenated at exquisite spas, all
              conveniently located within reach. Thanks to Flay Easy Tour and
              Travels, our journey was not just luxurious but also deeply
              memorable. We wholeheartedly recommend exploring Kashmir with Flay
              Easy for an extraordinary experience."
            </div>
            <div class="news-block_four-author">
              <div class="news-block_four-author_image">
                <img src="././assets/images/characterAvatar.jpg" alt="" />
              </div>
              Maria Garcia
              <span>Client from Spain</span>
            </div>
            <div
              class="hotel-review_pattern"
              style="
                background-image: url(././assets/images/icons/pattern-3.png);
              "
            ></div>
          </div>
        </div>

        <!-- Comment -->
        <div class="hotel-detail_review">
          <div class="review-inner">
            <h4>Exceptional Service &amp; Facilities</h4>
            <div class="text">
              "My wife and I chose Kashmir for our honeymoon, booking through
              Flay Easy Tour and Travels, and we couldn't have been happier with
              our experience. The destination's natural beauty and hospitality
              exceeded our expectations. The local guides provided by Flay Easy
              were knowledgeable and made our exploration of Kashmir truly
              memorable. We particularly cherished our time spent amidst the
              serene landscapes and cultural richness. Flay Easy ensured a
              seamless journey, from accommodations to excursions, making our
              honeymoon unforgettable. We highly recommend exploring Kashmir
              with Flay Easy Tour and Travels!"
            </div>
            <div class="news-block_four-author">
              <div class="news-block_four-author_image">
                <img src="././assets/images/characterAvatar.jpg" alt="" />
              </div>
              Jonathan Smith
              <span>Client from United States</span>
            </div>
            <div
              class="hotel-review_pattern"
              style="
                background-image: url(././assets/images/icons/pattern-3.png);
              "
            ></div>
          </div>
        </div>

        <!-- Hotel Detail Policies -->
        <div class="hotel-detail_policies">
          <h4>DESTINATION GUIDELINES</h4>
          <ul class="tour-detail-two_options">
            <li>
              Embrace the scenic vistas of Kashmir, leaving your worries behind.
            </li>
            <li>Immerse yourself in the natural beauty of Kashmir.</li>

            <li>
              Plan your itinerary wisely as early check-in or late check-out may
              alter your journey.
            </li>
            <li>
              Enhance your experience with optional amenities and services,
              available at an extra cost.
            </li>
            <li>
              Carry essential identification for hassle-free check-in and
              seamless entry into Kashmir's wonders.
            </li>
            <li>
              Preserve the natural splendor of Kashmir by respecting the
              environment and local customs.
            </li>
            <li>
              Let's foster a harmonious ambiance, contributing to the enjoyment
              of all travelers.
            </li>
          </ul>
        </div>
      </div>

      <!-- Right Column -->
      <div class="right-column col-lg-4 col-md-12 col-sm-12">
        <div class="tour_plans position-sticky">
          <div class="title-box">
            <h4>BOOK NOW</h4>
            <div class="text">
              No extra hassle, just fill the form and let us contact you for
              more informations.
            </div>
          </div>

          <!-- Booking Form -->
          <div class="booking-form">
            <form method="post">
              <!-- Form Group -->
              <div class="form-group">
                <label>first name*</label>
                <select name="currency" class="custom-select-box">
                  <option>Mrs</option>
                  <option>Mr</option>
                </select>
              </div>
              <!-- Form Group -->
              <div class="form-group">
                <label>Name*</label>
                <input
                  class="name"
                  type="text"
                  name="text"
                  placeholder="Name"
                  required=""
                />
              </div>
              <!-- Form Group -->
              <div class="form-group">
                <label>Starting Date*</label>
                <input
                  class="datepicker"
                  type="text"
                  name="text"
                  placeholder="Wed, 03 May 2024"
                  required=""
                />
              </div>
              <!-- Form Group -->
              <div class="form-group">
                <label>Number Of Guests*</label>
                <input
                  class="number"
                  type="number"
                  name="text"
                  placeholder="Number Of Guests"
                  required=""
                />
              </div>
              <!-- Form Group -->
              <div class="form-group">
                <label>Email Address*</label>
                <input
                  class="email"
                  type="email"
                  placeholder="Email Address"
                  required=""
                />
              </div>
              <!-- Form Group -->
              <div class="form-group">
                <label>Phone Number*</label>
                <input
                  class="phoneNumber"
                  type="tel"
                  placeholder="Phone Number"
                  required=""
                />
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="total-payment">
                    Total Payment
                    <span>₹ 1,0000</span>
                  </div>
                  <button class="btn-style-two theme-btn">
                    <span class="btn-wrap">
                      <span class="text-one">Book A Room</span>
                      <span class="text-two">Book A Room</span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact details -->
